.slide-right-enter {
    opacity: 0;
}

.slide-right-enter-active {
    animation: enterFromLeft .75s ease-in-out;
}

.slide-right-exit {
    /* opacity: 1; */
    transform: translateX(0px);
}

.slide-right-exit-active {
    animation: exitToRight .75s ease-in-out;
}

@keyframes enterFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes exitToRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}



.slide-left-enter {
    opacity: 0;
}

.slide-left-enter-active {
    animation: enterFromRight .75s ease-in-out;
}

.slide-left-exit {
    transform: translateX(0px);
}

.slide-left-exit-active {
    animation: exitToLeft .75s ease-in-out;
}

@keyframes enterFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes exitToLeft {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.Heading .img {
    position: relative;
    height: 100%;
    flex-basis: 52.5rem;
    flex-shrink: 1;
    flex-grow: 2;
    overflow: hidden;
    /* outline: 3px, solid black; */
}
.Heading .img img{
    position: absolute;
    height: 100%;
}

.Heading .content-wrapper {
    position: relative;
    height: 100%;
    flex-basis: 37.5rem;
    flex-shrink: 0;
    flex-grow: 1;
    background: white;
    overflow: hidden;
}

.Heading .content {
    position: absolute;
    top: 0;
    padding-inline: 6.25rem;
    padding-block-start: 7.5rem;
    /* outline: 3px, solid black; */
}


.Heading .content p {
    margin-block-start: 1.125rem;
}

.Heading .content a {
    position: relative;
    margin-block-start: 1.625rem;
    text-decoration: none;
    display: flex;
}

.Heading .content h3 {

    text-transform: uppercase;
}

.Heading .content .arrow {
    margin-inline-start: 1.875rem;
    height: .75rem;
    width: 2.5rem;

}

.Heading .angle-box {
    display: flex;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 5;
}

.Heading .angle-box button {
    flex-basis: 50%;
    display: flex;
    margin-block-start: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80px;
    cursor: pointer;
    pointer-events: auto;

}

.Heading .angle-box button:active {
    background-color: var(--gray-900);
}

.Heading .angle-box button:hover>img {
    transform: scale(1.5);
}

.Heading .angle-box img {
    color: white;
    height: 24px;
    width: 12px;
    transition: all .2s ease-in-out;
}