nav {
    width: 22.625rem;
    position: fixed;
    display: flex;
    top: 8%;
    left: 4.4%;
    background: none;
    justify-content: space-between;
    z-index: 10;
}

nav .nav-logo {
    display: inline;
    height: .813rem;
    width: 3.875rem;
}

nav ul {
    display: flex;
    top: 8%;
    left: 4.4%;
    background: none;
    width: 15.25rem;
    justify-content: space-between;
    align-items: flex-start;
}

nav ul li {
    text-decoration: none;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

nav ul li a:hover {
    font-size: 1.2rem;
}

@media (max-width: 900px) {

    nav {
        width: 22.625rem;
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        top: 6%;
        left: 0;
        background: none;
        justify-content: flex-end;
        z-index: 10;
    }

    .nav-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* margin-inline: auto; */
    }

    .nav-toggle {
        margin-inline-start: 1.5rem;
        width: 1.25rem;
        height: .875rem;

    }
}