nav {
    width: 22.625rem;
    position: fixed;
    display: flex;
    top: 8%;
    left: 4.4%;
    background: none;
    justify-content: space-between;
    z-index: 10;
}

nav img {
    display: inline;
    height: .813rem;
    width: 3.875rem;
}

nav ul{
    display: flex;
    top: 8%;
    left: 4.4%;
    background: none;
    width: 15.25rem;
    justify-content: space-between;
    align-items:flex-start;
}

nav ul li{
    text-decoration: none;
    color: white;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

nav ul li a:hover{
    font-size: 1.2rem;
}