nav {
    width: 22.625rem;
    position: fixed;
    display: flex;
    top: 8%;
    left: 4.4%;
    background: none;
    justify-content: space-between;
    z-index: 2;
}

nav .nav-logo {
    display: inline;
    height: .813rem;
    width: 3.875rem;
}

nav ul {
    display: flex;
    top: 8%;
    left: 4.4%;
    background: none;
    width: 15.25rem;
    justify-content: space-between;
    align-items: flex-start;
}

nav ul li {
    text-decoration: none;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

nav ul li a:hover {
    font-size: 1.2rem;
}

@media (max-width: 900px) {
    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        height: 14.3%;
        z-index: 3;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        background-color: white;
        transform: translateY(0px);
        animation: enterFromTop .5s ease-in-out;

    }

    nav ul li {
        margin-inline: 0.938rem;
    }

    nav ul li a{
        color: black;
        font-size: 1rem;
        line-height: 0.938rem;
        font-weight: 600;
        letter-spacing:0.042rem ;
    }

    nav {
        width: 22.625rem;
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        top: 6%;
        left: 0;
        background: none;
        justify-content: flex-end;
        z-index: 2;
    }

    .nav-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        /* margin-inline: auto; */
    }

    .nav-toggle {
        margin-inline-start: 1.5rem;
        width: 1.25rem;
        height: .875rem;
        z-index: 4;
    }
    .nav-toggle-btn {
        display: inline-flex;
        justify-self: flex-start;
        margin-right: auto;
        z-index: 4;
    }

    .slide-right-enter {
        opacity: 0;
    }
    
    .slide-right-enter-active {
        animation: enterFromLeft .75s ease-in-out;
    }
    
    .slide-right-exit {
        /* opacity: 1; */
        transform: translateX(0px);
    }
    
    .slide-right-exit-active {
        animation: exitToRight .75s ease-in-out;
    }
    
    @keyframes enterFromTop {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
    
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    
    @keyframes exitToTop {
        0% {
            transform: translateY(0px);
            opacity: 1;
        }
    
        100% {
            transform: translateY(-100%);
            opacity: 0;
            top: -200px;
        }
    }

    .hidden{
        transform: translateY(-100%);
        animation: exitToTop .5s ease-in-out;
        /* top: -200px; */
    }
}