:root {

  /*****************
    COLOR VARIABLES 
   *****************/
  --gray-700: hsl(0, 0%, 63%);
  /*#a1a1a1 / #a0a0a0 */

  --gray-900: hsl(0, 0%, 27%);
  /*#454545* / #444444 */

  /************
    TYPOGRAPHY
   ************/
  font-family: 'League Spartan', sans-serif;


}

/********
  RESETS
 ********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav ul {
  list-style:none;
}


/************
  TYPOGRAPHY
 ************/

h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 2.75rem;
  letter-spacing: -0.125;
}

h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: justify;
  letter-spacing: 0.417rem;
}

h3 {
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1rem;
  letter-spacing: 0.781rem;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.021rem;
  color: var(--gray-700)
}

html,
body {
  width: 100%;
  height: 100%;
}